.Feed-title {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;

}

.Feed-slide {
    position: fixed;
    left: 0;
}

.Feed-slide .Copyright {
    font-size: 13px;
    margin-bottom: 13px;
    margin-top: -40px;
}

.Feed-content {
    margin-left: 200px;
}